.grid-container {
  overflow-x: auto;
  width: 100%;
}

.header-table {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1px;
}

.header-cell {
  padding: 10px;
  color: var(--table-header-color);
  background-color: var(--table-header-background-color);
  font-size: var(--table-header-font-size);
  font-weight: var(--table-header-font-weight);
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 5px solid #232c3b;
}

.bold {
  font-weight: bold;
}
.header {
  font-size: 1.5rem;
}
.uppercase {
  text-transform: uppercase;
}
.negative {
  color: #db0000;
}
